/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run salzmanlab/readzs -c small_test_data.config

----------------------------------------------------------------------------------------
*/

process {
    executor = 'local'

    memory = { 20.GB }
    time = { 1.h }
    errorStrategy = { task.exitStatus in [130,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 1
}

params {
    runName = "small_test_data"
    input = "/scratch/groups/horence/kaitlin/nf-readzs/small_test_data/small_samplesheet.csv"
    useChannels = true
    chr_lengths = "/scratch/groups/horence/kaitlin/nf-readzs/small_test_data/refs/chr1_chrLength.txt"
    libType = "10X"
    isSICILIAN = false
    isCellranger = true
    metadata = "/scratch/groups/horence/kaitlin/nf-readzs/small_test_data/refs/meta.tsv"
    ontologyCols = "'compartment, tissue'"
    annotation_bed = "/scratch/groups/horence/kaitlin/nf-readzs/small_test_data/refs/chr1.hg38_genes.bed"
    gff = "/scratch/groups/horence/kaitlin/nf-readzs/small_test_data/small_hg38.gff"
    picard = "/scratch/groups/horence/kaitlin/picard.jar"
    outDir = "./results/small_test_data"
}

