/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run salzmanlab/readzs -profile small_test_data

----------------------------------------------------------------------------------------
*/


params {
    runName = "small_test_data"
    input = "small_test_data/samplesheet.csv"
    useChannels = true
    chr_lengths = "small_test_data/refs/chrLength.txt"
    libType = "10X"
    isSICILIAN = true
    isCellranger = false
    metadata = "small_test_data/refs/meta.tsv"
    minCellsPerWindowOnt = 10
    minCtsPerCell = 5
    ontologyCols = "'compartment, tissue'"
    annotation_bed = "refs/hg38.genes.bed"
    gff = "small_test_data/refs/small_test_data/small.gff"
}

